[Unit]
Description=Remove password for liveiso user
After=systemd-sysusers.service
After=local-fs.target
ConditionKernelCommandLine=liveiso.live=1

[Service]
Type=oneshot
ExecStart=/usr/sbin/groupadd autologin
ExecStart=/usr/sbin/groupadd nopasswdlogin
ExecStart=/usr/bin/mkdir -p /home/liveiso
ExecStart=/usr/sbin/useradd -u 1000 -c "Live Session" -m -d /home/liveiso -s /bin/bash -G autologin,nopasswdlogin,sudo liveiso
ExecStart=/usr/bin/passwd -d liveiso
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target